<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empresas-clientes-list.css') }}" />
</head>
<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
          <img src="{{ url_for('static', filename='img/icono-empresa.png') }}" />
          <h2 style="color: #070707; font-weight: bold">Ebay</h2>
          <h2 style="font-size: 15px; color: #070707">Empresa</h2>
        </header>
        <ul>
          <a href="/empresa/home" class="icon-inicio">span>Inicio</span>></a>
          <a href="descuentos-empresas.html" class="icon-descuentos"><span>Descuentos</span></a>
          <a href="vendedores-empresas.html" class="icon-vendedores"><span>Vendedores</span></li></a>
          <a href="/empresa/clientes" class="icon-clientes"><span >Clientes</span></li></a>
          <a href="stock-empresas.html" class="icon-stock"><span>Stock</span></li></a>
          <a href="cotizacion-empresas.html" class="icon-cotizacion"><span>Cotizacion</span></li></a>
          <a href="compras-empresas.html" class="icon-compra"><span>Compra</span></li></a>

       <div class="Contenedor">
        <a href="index.html" class="button-cerrar-sesion">Cerrar sesion</a>
        <a href="index2.html" class="button-cambiar-cuenta">Cambiar cuenta</a>
       </div>
    </nav>
    <div class="container">
        <div class="search-bar">
            <form method="GET" action="#">
                <input type="search" name="query" placeholder="Buscar..." />
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre y Apellidos</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/empresas/clientes-empresas-list.js') }}"></script>
</body>
</html>
