<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" /><!-- Ensure the correct path to your CSS file -->
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">Logo</a>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="hero-content">
        <h1>Bienvenido</h1>
        <p>Este es el mensaje de bienvenida.</p>
        <div class="action-buttons">
            <a href="/acceder" class="btn">Bienvenido</a>
        </div>
    </div>

    <footer>
        &copy; 2024 Your Company. All rights reserved.
    </footer>
</body>
</html>
